<!DOCTYPE html>
<html>
<head>
  <title>LotvueTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h5 id="info-message" style="text-align: center;"></h5>

<%= yield %>

</body>
</html>
